.cart-container {
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cart-container h2 {
    font-size: 2rem;
    color: #0c1425;
}

.cart-container .make-order {
    display: flex;
    justify-content: center;
}

.cart-container .make-order button {
    padding: 10px 16px;
    background-color: #FCA311;
    color: #14213D;
    font-size: 1.7rem;
    width: 30%;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-container .make-order button:hover {
    background-color: #493009;
    color: #e5e5e5;
}
